

.background {
    border-radius: 16px;
    height: 338px;
    width: 100%;
    background: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
        url(Images/2.png); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.background2 {
    border-radius: 16px;
    background: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url(Images/3.png); 
    background-repeat: no-repeat;
    height: 338px;
    width:100%;
    background-position: center;
    background-size: cover;
}
.background3 {
    border-radius: 16px;
    background: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url(Images/4.png); 
    background-repeat: no-repeat;
    height: 338px;
    width:100%;
    background-position: center;
    background-size: cover;
}